#cronograma tr:nth-child(even){background-color: #f2f2f2;}
#cronograma tr:hover {background-color: #ddd;}
#cronograma th {
    padding: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  #cronograma td {
    padding-left: 10px;
  }

  #slide-h2 {
    padding-left: 20px;
    padding-right: 20px;
  }



#greyscaleImage {
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
}